fastapi
uvicorn[standard]
pydantic-settings
python-dotenv

sqlalchemy
psycopg[binary]

chromadb

ollama
sentence-transformers

httpx
beautifulsoup4

langchain
langchain-ollama
langchain-community
langchain-chroma
langchain-text-splitters
langchain-huggingface

rank-bm25
numpy

ddgs

tiktoken

pytest